In [3]:
import random

In [8]:
random_number= random.randint(1,100)
random_number

37

In [15]:
radom_float= random.random() # this always get me a float between 0 and 1 
radom_float

0.3902983208917902

Exercise 1: Head or Tails

In [3]:
random_side = random.randint(0,1)
if random_side ==1:
    print("Heads")
else:
    print("Tails")

Tails

Lists: List of the 50 States of America ordered Alphabetically

In [4]:
state_names=["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

In [5]:
len(state_names)

50

In [14]:
#I can edit pretty easily in a list like this 
state_names[1]= "Alaska"

In [13]:
state_names

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [15]:
# I can add to a list by using option .append(), and the new state goes to the end of the list
state_names.append("Alixland")

In [16]:
state_names

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming',
 'Alixland']

In [18]:
#I can also extend my list if I want to add another list to the end of my existing list with .extend([the list needs to be here])
state_names.extend(["whateverland", "Cool York"])

In [19]:
state_names

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming',
 'Alixland',
 'whateverland',
 'Cool York']

In [39]:
#  I. get an error because Index 79 doesn't exist Â£
#state_names[79]

### Nested List

In [40]:
#Numbers = [1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
odd = [1, 3, 5, 7]
even =[ 2, 4, 6, 8]

In [42]:
Numbers = [odd, even]

In [43]:
Numbers

[[1, 3, 5, 7], [2, 4, 6, 8]]

Exercise Banker Roulette

In [10]:


#Write your code below this line ð
names_string = ("Angela, Ben, Jenny, Michael, Chloe ")
names = names_string.split(", ")

random_name= random.randint (0,4)
if random_name == 0:
    print("Angela is going to pay the bill")
elif random_name == 1:
    print("Ben is going to pay the bill")
elif random_name == 2:
    print(" Jenny is going to pay the bill")
elif random_name == 3:
    print(" Michael is going to pay the bill")
else: 
        print(" Chloe is going to pay the bill")

Angela is going to pay the bill

In [11]:
names_string = ("Angela, Ben, Jenny, Michael, Chloe ")
names = names_string.split(", ")
names

['Angela', 'Ben', 'Jenny', 'Michael', 'Chloe ']

In [37]:
Random= random.randint(0, len(names)-1)
person_who_pays= names[Random]
print(person_who_pays+ ' is going to pay today')

Angela is going to pay today

Quiz:

In [44]:
fruits = ["Strawberries", "Nectarines", "Apples", "Grapes", "Peaches", "Cherries", "Pears"]
vegetables = ["Spinach", "Kale", "Tomatoes", "Celery", "Potatoes"]
 
dirty_dozen = [fruits, vegetables]
 
print(dirty_dozen[1][1])

Kale

In [54]:
#print(dirty_dozen)


#print(dirty_dozen[0])
#print(dirty_dozen[1])


#print(dirty_dozen[1][2])
#print(dirty_dozen[1][3])

In [55]:
[['â¬ï¸', 'â¬ï¸', 'â¬ï¸'],['â¬ï¸', 'â¬ï¸', 'â¬ï¸'],['â¬ï¸', 'â¬ï¸', 'â¬ï¸']]

[['â¬ï¸', 'â¬ï¸', 'â¬ï¸'], ['â¬ï¸', 'â¬ï¸', 'â¬ï¸'], ['â¬ï¸', 'â¬ï¸', 'â¬ï¸']]

In [56]:
rock = '''
    _______
---'   ____)
      (_____)
      (_____)
      (____)
---.__(___)
'''

paper = '''
    _______
---'   ____)____
          ______)
          _______)
         _______)
---.__________)
'''

scissors = '''
    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)
'''

In [10]:

user_choice= input("enter 0 for Rock, 1 for Paper, and 2 for scissors: \n ")
computer_choice = random.randint (0, 2)
print(f"computer chose {computer_choice}")

enter 0 for Rock, 1 for Paper, and 2 for scissors:
 1
computer chose 2