In [3]:
#Basic example
fruits= ["Apple", "Banana", "Watermelon", "Orange"]

In [22]:
for fruit in fruits:
    print (fruit)

Apple
Banana
Watermelon
Orange

In [23]:
# The idented lines fall in the loop but the last line which is not indented prints only once. 
for fruit in fruits:
    print (fruit)
    print (fruit +" pie")
print (fruits)

Apple
Apple pie
Banana
Banana pie
Watermelon
Watermelon pie
Orange
Orange pie
['Apple', 'Banana', 'Watermelon', 'Orange']

## Average Height

In [24]:
student_heights = 180 124 165 173 189 169 146

In [65]:
# ðŸš¨ Don't change the code below ðŸ‘‡
student_heights = input("Input a list of student heights ").split()

Input a list of student heights 180 124 165 173 189 169 146

In [67]:
for n in range(0, len(student_heights)):
    student_heights[n] = int(student_heights[n])

In [68]:
total_height = 0
for height in student_heights:
    total_height  += height
print (total_height)

1146

In [70]:
number_of_students = 0
for student in student_heights:
    number_of_students += 1
print (number_of_students)

7

In [73]:
student_average_height = round(total_height / number_of_students)
student_average_height

164

### Easy Version without the for Loop

In [44]:
total_height = sum(student_heights)

In [48]:
Average_height = round(total_height / len(student_heights))
Average_height

164