In [3]:
#Basic example
fruits= ["Apple", "Banana", "Watermelon", "Orange"]

In [22]:
for fruit in fruits:
    print (fruit)

Apple
Banana
Watermelon
Orange

In [23]:
# The idented lines fall in the loop but the last line which is not indented prints only once. 
for fruit in fruits:
    print (fruit)
    print (fruit +" pie")
print (fruits)

Apple
Apple pie
Banana
Banana pie
Watermelon
Watermelon pie
Orange
Orange pie
['Apple', 'Banana', 'Watermelon', 'Orange']

## Average Height

In [24]:
student_heights = 180 124 165 173 189 169 146

In [65]:
# ðŸš¨ Don't change the code below ðŸ‘‡
student_heights = input("Input a list of student heights ").split()

Input a list of student heights 180 124 165 173 189 169 146

In [67]:
for n in range(0, len(student_heights)):
    student_heights[n] = int(student_heights[n])

In [68]:
total_height = 0
for height in student_heights:
    total_height  += height
print (total_height)

1146

In [70]:
number_of_students = 0
for student in student_heights:
    number_of_students += 1
print (number_of_students)

7

In [73]:
student_average_height = round(total_height / number_of_students)
student_average_height

164

### Easy Version without the for Loop

In [44]:
total_height = sum(student_heights)

In [48]:
Average_height = round(total_height / len(student_heights))
Average_height

164

### Exercise 2: Students' highest score

In [88]:
student_scores = input("Input a list of student scores ").split()
for n in range(0, len(student_scores)):
    student_scores[n] = int(student_scores[n])
print(student_scores)
# ðŸš¨ Don't change the code above ðŸ‘†

#Write your code below this row ðŸ‘‡

Input a list of student scores 78 65 89 86 55 91 64 89
[78, 65, 89, 86, 55, 91, 64, 89]

In [89]:
# My method
#for score in student_scores:
    #student_highest_score = max(student_scores)
#student_highest_score

In [95]:
# Correction 
highest_score = 0
for score in student_scores:
    if score > highest_score:
        highest_score = score
print(f"The highest score is: {highest_score}")

The highest score is: 91

### For Loop using Range()

In [99]:
for n in range (1, 11, 3): # the 3 here is a step
    print(n)

1
4
7
10

In [105]:
total= 0
for n in range (1, 101):
    total += n 
print(total)

5050

In [122]:
total_even= 0
for number in range (2, 101, 2):
    total_even += number
print (total_even)

2550

##  Another ways to do it

In [130]:
total2_even = 0
for number in range (1, 101):
    if number % 2 == 0:  # use the modulo to get the even nums 
        total2_even += number
print(total2_even)

2550

## FizzBuzz program

In [156]:
for n in range(1, 101):
    if n % 3 == 0 & n % 5 == 0:
        print("FizzBuzz")
    elif n % 3 == 0:
        print ("Fizz")
    elif n % 5 == 0:
        print ("BUzz")
    else:
        #print(n)

IndentationError: expected an indented block (323946164.py, line 13)

## Password Generator:

In [169]:
#Password Generator Project
import random
import string
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
symbols = ['!', '#', '$', '%', '&', '(', ')', '*', '+']

print("Welcome to the PyPassword Generator!")
nr_letters= int(input("How many letters would you like in your password?\n")) 
nr_symbols = int(input(f"How many symbols would you like?\n"))
nr_numbers = int(input(f"How many numbers would you like?\n"))

Welcome to the PyPassword Generator!
How many letters would you like in your password?
4
How many symbols would you like?
4
How many numbers would you like?
4

###  Easy Random not random version

In [185]:
password= ""
for char in range (1,nr_letters + 1):
    password += random.choice(letters)
for char in range (1, nr_symbols +1):
    password += random.choice(symbols)
for char in range (1, nr_numbers +1):
    password += random.choice(numbers)
print (password)

bhxs$#!!9909

### Harder Level

In [203]:
password_list= []
for char in range (1,nr_letters + 1):
    password_list.append(random.choice(letters))  
for char in range (1, nr_symbols +1):
    password_list += random.choice(symbols)
for char in range (1, nr_numbers +1):
    password_list += random.choice(numbers)
random.shuffle(password_list)

password = ""
for char in password_list: 
    password += char
password

'g+6o)5uC88%$'